<p>
    <div class="alert alert-danger" ng-show="errorMessage != null">
        {{errorMessage}}
    </div>
    <div class="alert alert-success" ng-show="successMessage != null">
        {{successMessage}}
    </div>
    <div ng-hide="loaded">
        Loading...
    </div>
    <div ng-show="loaded">
        Account Settings:
        <div>
            <mat-form-field>
                <input matInput placeholder="Streamelements Account ID" ng-model="streamElementsJWTToken">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Streamelements JWT Token" ng-model="streamElementsAccountID">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Currency Name (Singular)" ng-model="currencySingular">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Currency Name (Plural)" ng-model="currencyPlural">
            </mat-form-field>
        </div>
        <div>
            <button ng-click="saveSettings()">Save</button>
        </div>
    </div>
</p>
